body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.outerTeacherCourseView {
    width: 1000px;
    height: 600px;
    max-height: 800px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.outerTeacherCourseView .outerHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: lightblue;
    position: sticky;
    top: 0;
    z-index: 10;
}

.outerTeacherCourseView .outerHeader .left,
.outerTeacherCourseView .outerHeader .center,
.outerTeacherCourseView .outerHeader .right {
    flex: 1;
    text-align: center;
    background-color: lightblue;

}

.outerTeacherCourseView .outerHeader .left {
    text-align: left;
}

.outerTeacherCourseView .outerHeader .right button {
    width: auto;
    padding: 5px 15px;
    font-size: 14px; 
}

.outerTeacherCourseView .innerTeacherCourseView {
    width: 100%;
    background-color: darkblue;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.outerTeacherCourseView button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}


.outerTeacherCourseView .innerHeader {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    background-color: darkblue;
    color: #fff;
    border-bottom: 1px solid #1d1d1d;
}

.outerTeacherCourseView .students {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.outerTeacherCourseView .students th,
.outerTeacherCourseView .students td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}

.outerTeacherCourseView .students th {
    background-color: #7fadbc;
    text-align: center;
}
